

<h1 class="title">Top <span class="number">10</span> Most Viewed Cities:</h1>

<div class="cards">
  <% @cities.each do |c| %>
    <div class="card">
      <%= link_to city_path(c.id) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= c.photo %>)">
          <%= c.name %>
        </div>
      <% end %>

      <div class="card-info">
        <h2>The most interesting in <%= c.name %>:</h2>
        <% @activities.where(city_id: c.id).order(:view_id).last(10).reverse.each do |item| %>
          <%= link_to activity_path(item.id) do %>
            <div class="card-product">
              <img src="<%= item.photo %>" />
              <div class="card-product-infos">
                <h2><%= item.title %></h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
