<p id="notice"><%= notice %></p>

<h1 class="title">Топ <span class="number">5</span> самых просматриваемых городов:</h1>

  <div class="cards">
    <div class="card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Город 1
    </div>
       <div class="card-info">
          <h2>Экскурсии:</h2>
          <p>Экскурсия1</p>
          <p>Экскурсия2</p>
          <p>Экскурсия3</p>
          <p>Экскурсия4</p>
          <p>Экскурсия5</p>
          <p>Экскурсия6</p>
          <p>Экскурсия7</p>
          <p>Экскурсия8</p>
          <p>Экскурсия9</p>
          <p>Экскурсия10</p>
        </div>
      </div>

  <div class="card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Город 2
    </div>
      <div class="card-info">
          <h2>Экскурсии:</h2>
          <p>Экскурсия1</p>
          <p>Экскурсия2</p>
          <p>Экскурсия3</p>
          <p>Экскурсия4</p>
          <p>Экскурсия5</p>
          <p>Экскурсия6</p>
          <p>Экскурсия7</p>
          <p>Экскурсия8</p>
          <p>Экскурсия9</p>
          <p>Экскурсия10</p>
        </div>
      </div>

  <div class="card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Город 3
    </div>
      <div class="card-info">
          <h2>Экскурсии:</h2>
          <p>Экскурсия1</p>
          <p>Экскурсия2</p>
          <p>Экскурсия3</p>
          <p>Экскурсия4</p>
          <p>Экскурсия5</p>
          <p>Экскурсия6</p>
          <p>Экскурсия7</p>
          <p>Экскурсия8</p>
          <p>Экскурсия9</p>
          <p>Экскурсия10</p>
        </div>
      </div>

  <div class="card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Город 4
    </div>
      <div class="card-info">
          <h2>Экскурсии:</h2>
          <p>Экскурсия1</p>
          <p>Экскурсия2</p>
          <p>Экскурсия3</p>
          <p>Экскурсия4</p>
          <p>Экскурсия5</p>
          <p>Экскурсия6</p>
          <p>Экскурсия7</p>
          <p>Экскурсия8</p>
          <p>Экскурсия9</p>
          <p>Экскурсия10</p>
        </div>
      </div>
  <div class="card">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Город 5
    </div>
      <div class="card-info">
          <h2>Экскурсии:</h2>
          <p>Экскурсия1</p>
          <p>Экскурсия2</p>
          <p>Экскурсия3</p>
          <p>Экскурсия4</p>
          <p>Экскурсия5</p>
          <p>Экскурсия6</p>
          <p>Экскурсия7</p>
          <p>Экскурсия8</p>
          <p>Экскурсия9</p>
          <p>Экскурсия10</p>
        </div>
      </div>

  </div>


<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.photo %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
 -->
