
<p id="notice"><%= notice %></p>


<h1 class="title">Топ <span class="number">5</span> самых просматриваемых городов:</h1>

  <div class="cards">
    <% 5.times do %>
    <div class="card">
    <%a = rand(100) %>
    <%= link_to city_path(a) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cities.where(id: a).first.photo %>)">
      <%= @cities.where(id: a).first.name %>
    </div>
    <% end %>
       <div class="card-info">
          <h2>Чем заняться в городе <%= @cities.where(id: a).first.name %> :</h2>

              <p><% @activities.where(city_id: 1).first(10).each do |item| %></p>
                <%= link_to activity_path(item.id) do %>
                  <%= item.title %>
                <% end %>
              <% end %>

        </div>
      </div>
    <% end %>

  </div>


