<p id="notice"><%= notice %></p>


<!-- <p>
  <strong>Photo:</strong>
  <%= @city.photo %>
</p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @city.photo %>);">
  <div class="container">
    <h1><strong><%= @city.name %></strong></h1>
  </div>
</div>

<h1 class = "header_activities"><strong>Все экскурсии в городе <%= @city.name %>:</strong></h1>

<div class="cards_show">


<% 3.times do %>
  <% @activities.where(city_id: 1).first(10).each do |item| %>
    <%= link_to activity_path(item.id) do %>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= item.photo %>)">
          <p><%= item.title %></p>
      </div>
    <% end %>
  <% end %>
<% end %>


</div>

<h1 class="title"><%= link_to 'На Главную', root_path %></h1>
