<div class="card-trip">
  <img src="<%= @activity.photo %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @activity.title %></h2>
      <p><%= @activity.description %></p>
    </div>
    <h2 class="card-trip-pricing">Price: <%= @activity.price %> USD</h2>
    <h2 class="card-trip-rating">Rating: <%= @activity.rating %> </h2>
  </div>
</div>

<h1 class="title">Recommended for you:</h1>

<div class="cards">
  <% @recommended_activities.each do |item| %>
    <%= link_to activity_path(item.id) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= item.photo %>)">
        <p><%= item.title %></p>
      </div>
    <% end %>
  <% end %>
</div>

<h1 class="title"><%= link_to 'Back to Home', root_path %></h1>

