<!DOCTYPE html>
<html>
  <head>
    <title>Sputnik</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="branding">
        <h1>Efim Shliamin</h1>
      </div>
      <% unless ['new_visitor_session_path', 'new_visitor_registration_path', 'edit_visitor_registration_path', 'new_visitor_password_path', 'edit_visitor_password_path'].include?(controller.action_name) %>
      <div class="nav">
        <% if visitor_signed_in? %>
          <%= link_to "Log out", destroy_visitor_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", new_visitor_session_path %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
